@charset "UTF=8";

html {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  width: 100%;
  letter-spacing: 1px;
}

body {
  width: 100%;
}

.menubox ul {
  display: flex;

  gap: 35px;
}
.mv {
  width: 100%;

  margin: 0 auto;
}

.menubox {
  position: fixed;
  top: 2.5%;

  font-size: 24px;
  max-width: 1280px;
  right: 5%;
  max-width: none;
}
ul a {
  text-decoration: none;
  color: #fff;
  letter-spacing: 0.3rem;
}
.fa-solid {
  width: 100px;
}
h1 span {
  font-family: "Playfair Display", serif;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  display: block;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease forwards;
}

/*ハンバーガーメニュー*/
/*アイコン*/
button {
  background: none; /* 背景色をリセット */
  color: inherit; /* 親要素から色を継承 */
  border: none; /* ボーダーを削除 */
  padding: 0; /* パディングをリセット */
  margin: 0; /* マージンをリセット */
  font: inherit; /* 親要素からフォントスタイルを継承 */
  line-height: normal; /* 行の高さを通常に設定 */
  cursor: pointer; /* カーソルをポインターに設定 */
  text-align: center; /* テキストを中央揃えに設定 */
  user-select: none; /* テキスト選択を無効化 */
  -webkit-appearance: none; /* Webkitブラウザでのデフォルトスタイルを削除 */
  -moz-appearance: none; /* Mozillaブラウザでのデフォルトスタイルを削除 */
  appearance: none; /* 標準的な外観を削除 */
}

.hamburger {
  width: 40px;
  height: 24px;
  position: fixed;
  top: 15px;
  right: 16px;
  z-index: 9999999999999999;
  background: transparent;
}

.hamburger_bar {
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  background: #15355b;
  transition: top 0.24s, transform 0.24s, opacity 0.24s;
}

.hamburger_bar:nth-child(1) {
  top: 0;
}

.hamburger_bar:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.hamburger_bar:nth-child(3) {
  top: 100%;
  transform: translateY(-100%);
}

.hamburger.active .hamburger_bar:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(135deg);
}

.hamburger.active .hamburger_bar:nth-child(2) {
  transform: translate(50%, -50%);
  opacity: 0;
}

.hamburger.active .hamburger_bar:nth-child(3) {
  top: 50%;
  transform: translateY(-50%) rotate(-135deg);
}

/*アイコンおわり*/
.menu-content {
  text-align: center;
  pointer-events: none;

  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease, visibility 0.4s ease;
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.menu-content.waao {
  position: fixed; /* ← 元々の設定 */
  pointer-events: auto;

  background-color: #fff;
  right: 0%;
  top: 0px;
  opacity: 1;
  visibility: visible;
  left: auto;

  display: flex;
  height: 85%;
  justify-content: center;
  align-items: center;
  z-index: 999999;
  position: fixed;
  width: 36%;
  box-shadow: 2px -4px 36px 7px rgba(128, 128, 128, 0.699);
}
.menu-content ul li a {
  border-bottom: 1px solid;
  border-top: 1px solid;
  text-align: center;
  line-height: 6rem;
  font-size: 31px;
}
.menu-content ul li a:first-child {
  border-top: none;
}

.menu-content.waao ul li a {
  display: block;
  color: #15355b;
}

.menu-content ul li:last-of-type {
  border-bottom: none;
}
.menu-content ul li a:hover {
  color: #4476b3;
}
/*ハンバーガーメニューおわり*/

@media screen and (max-width: 768px) {
  /*携帯*/
  html {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
  .wrap {
    display: none;
  }

  .menu-content.waao {
    height: 100%;
    width: 100%;
  }
  .responsive > p {
    text-align: center;
    margin-top: 30%;
    font-size: 5vw;
  }
  .responsive > p:nth-child(2) {
    font-size: 4vw;
  }
  .bubble {
    position: relative;
    display: block;

    padding: 2rem;
    margin: auto;
    color: #555;

    background: #e0edff;
    border-radius: 50px;
    width: 61%;
  }

  .bubble:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 70%;
    margin-left: -15px;
    border: 17px solid transparent;
    border-top: 28px solid #e0edff;
  }

  .panda {
    margin-top: 4rem;
    text-align: right;
    margin-right: 9%;
  }
  .panda img {
    width: 30%;
  }
}
@media only screen and (min-width: 769px) {
  main {
    max-width: 1280px;
  }
  .responsive {
    display: none;
  }
  h1 {
    position: absolute;
    font-size: 128px;
    padding-left: 12%;
    color: #fff;
    top: 50%;
    left: 31%;
    transform: translate(-50%, -50%);

    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    text-shadow: 0 6px 19px black;
  }

  .follows {
    margin: 0 auto;
  }
  .big_message {
    width: 100%;
    position: relative;
    height: 370px;
    opacity: 0;
    transition: all 1s ease;
  }
  .big_message.is-fade {
    opacity: 1;
  }
  .japanese {
    font-size: 85px;
    justify-content: center;
    display: flex;
    letter-spacing: 1rem;
    margin-top: 7%;
    line-height: 106px;
    position: absolute;
    z-index: 100;
    transform: translateX(-50%);
    left: 50%;
    width: 100%;
  }

  .english {
    position: absolute;
    top: 126px;
    font-size: 36px;
    letter-spacing: 9px;
    line-height: 237%;
    white-space: nowrap;

    color: rgb(168, 168, 167);

    transform: translateX(-50%);
    left: 47%;
  }
  .message {
    opacity: 0;
    display: flex;
    justify-content: center;
    letter-spacing: 6px;
    line-height: 216%;
    animation: slideUp 1s forwards;
    animation-delay: 1s;
  }
  h2 {
    font-size: 71px;
  }
  .picture img {
    width: 328px;
    height: 382px;
    object-fit: cover;
    margin-top: 26px;

    opacity: 0;
    transition: 1s;
  }
  .picture img.is-fade {
    opacity: 1;
  }

  @keyframes fade {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
  .fade-section {
    opacity: 0;
    transition: opacity 0.6s ease;
    display: none;
  }

  .fade-section.active {
    display: block;
    opacity: 1;
  }

  section {
    padding-left: 93px;
    padding-right: 93px;
    margin-top: 70px;
  }
  .naiyou {
    display: flex;
  }
  .self > .name > p {
    font-size: 36px;
    margin-top: 47px;
    letter-spacing: 6px;
    white-space: nowrap;
  }
  .name > h3 {
    font-size: 90px;
    margin-top: -31px;
    margin-left: 14%;
    transform: translateX(-180px);
    opacity: 0;
  }
  .name > h3.is-slideIn {
    animation: slideIn 0.7s cubic-bezier(0.25, 1, 0.5, 1) forwards;
  }
  @keyframes slideUp {
    0% {
      transform: translateY(180px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);

      opacity: 1;
    }
  }
  .self {
    margin-left: 45px;
  }
  .introduction {
    width: 100%;
    letter-spacing: 3px;
    line-height: 216%;
    font-size: 16px;
  }
  .name {
    display: flex;
  }

  h3 {
    font-size: 63px;

    display: flex;
    justify-content: flex-end;
  }
  .box {
    width: 50%;
    height: 580px;
    display: flex;
    flex-flow: column;
  }
  .box > h3.is-slideUp {
    animation: slideUp 1s forwards;
  }
  .last > h3.is-slideUp {
    animation-delay: 0.7s;
  }

  .box > h3 {
    opacity: 0;
  }

  .skill {
    display: flex;
    gap: 5%;
  }
  .box > p:nth-child(2) {
    font-size: 24px;
  }
  .box > p:last-child {
    margin-top: 14px;
    letter-spacing: 2px;
  }
  .box > p {
    line-height: 10px;
    line-height: 34px;
    margin-top: 14px;
  }
  .last > p {
  }

  .minibox {
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
    margin-top: auto;
    margin-bottom: 23%;

    gap: 32px;
  }
  .minibox > p {
    font-size: 20px;
    background-color: rgb(184, 195, 206);
    padding: 7px 18px;
    border-radius: 17px;
  }
  .banner-wrapper {
    width: 316px;
    height: 316px;
    overflow: hidden;
    padding: 10px;
  }

  .banner {
    width: 100%;
    height: 100%;
    background-size: contain;
    transition: 1s all;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.5s ease;
  }
  .banner:hover {
    transform: scale(1.2);
    transition: 1s all;
  }
  .uma {
    background-image: url(../img/uma2.png);
  }
  .raspberry {
    background-image: url(../img/razubwrry2.png);
  }
  .kids {
    background-image: url(../img/sale2.png);
  }
  .list {
    display: flex;
    justify-content: center;
    gap: 21px;
    padding-top: 30px;
    flex-wrap: wrap;
  }

  .syokudou,
  .youtube {
    transition: transform 0.5s ease;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
  }
  .syokudou {
    background-image: url(../img/こども食堂完成版3.jpg);
  }
  .syokudou:hover {
    transform: scale(1.2);
  }

  .youtube:hover {
    transform: scale(1.2);
  }

  .youtube {
    background-image: url(../img/youtubeサムネイル１.png);
  }
  .boxx {
    border: 12px #d6cfcfbd solid;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;

    height: 497px;
    width: 100%;
    max-width: 400px;
    flex: 1 1 300px;
    opacity: 0;
  }
  .boxx > p {
    font-size: 20px;
    margin-top: 22px;
  }
  .access5 > p {
    margin-top: -20px;
  }
  .sale3 {
    padding: 0 2rem;
  }
  .boxx.is-fadeUp {
    opacity: 0;
    animation: fadeUp 0.7s ease-out forwards;
  }
  @keyframes fadeUp {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .boxx:nth-of-type(1) {
    animation-delay: 0.2s;
  }
  .boxx:nth-of-type(2) {
    animation-delay: 0.4s;
  }
  .boxx:nth-of-type(3) {
    animation-delay: 0.6s;
  }
  .boxx:nth-of-type(4) {
    animation-delay: 0.8s;
  }
  .boxx:nth-of-type(5) {
    animation-delay: 1s;
  }
  .section3 {
  }

  .section3 > h2,
  .section3 > h3 {
  }

  footer {
    background-color: #d9d9d9;
    text-align: center;
    margin-top: 250px;
    padding: 117px;
  }
  footer > p {
    font-size: 24px;
  }
  .mail-btn {
    font-size: 36px;
    background-color: #fff;
    text-decoration: none;
    color: black;
    padding: 1rem;
    width: 70%;
    margin: 10px 0;

    display: inline-block;
  }

  .contact > a {
    padding: 0.5em 1em;
    border-radius: 4px;
    transition: all 0.3s ease;
    border: 1px solid #777070;
    transform: scale(1);
  }
  .contact a:hover {
    background-color: #777070;
    color: #fff;
    transform: scale(1.1);
    transition: 0.5s;
  }

  .contact > p {
    margin: 25px 0;
  }
  .contact > h2 {
    letter-spacing: 3px;
    transition: 1s all;
    opacity: 0;
  }
  .contact > h2.is-fade {
    opacity: 1;
  }
  .footer_menubox > ul {
    display: flex;
    justify-content: center;
    margin: 32px;
    gap: 46px;
    width: 100%;
  }
  .footer_menubox > ul > li > a {
    color: black;
    font-size: 24px;
  }
  ul > li > a:hover {
    color: #747070;
  }
  small {
    display: block;
    text-align: end;
  }
  .flower {
    position: relative;
    height: 700px;
    overflow: hidden;
    max-width: 1280px;
  }

  .flower img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right center;
    transition: all 0.6s ease;
  }

  h1 span {
    object-position: right center;
    transition: all 0.6s ease;
    animation: slideIn 0.7s cubic-bezier(0.25, 1, 0.5, 1) forwards;
  }
  h1 span:nth-child(1) {
    animation-delay: 0.3s;
  }
  h1 span:nth-child(2) {
    animation-delay: 0.8s;
  }
  h1 span:nth-child(3) {
    animation-delay: 1.3s;
  }

  @keyframes slideIn {
    0% {
      transform: translateX(-180px);

      opacity: 0;
    }
    100% {
      transform: translateX(0);

      opacity: 1;
    }
  }
}

@media only screen and (max-width: 859px) {
  .mail-btn {
    width: 445px;
  }
}
@media only screen and (max-width: 920px) {
  .minibox {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 1095px) {
  .flower img {
    width: 100%;
    object-position: center center;
  }
  h1 {
    padding-left: 29%;
    object-position: center center;
  }

  .picture img {
    margin-top: 8%;
  }
  .name {
    display: grid;
  }
  .self > .name > p {
    order: 2;
    margin-top: 22px;
  }

  .name > h3 {
    order: 1;

    justify-content: flex-start;
    margin-left: 0;
  }
  .introduction {
    margin-top: 24px;
  }
  section {
    padding: 0 4%;
  }
  .naiyou {
    align-items: center;
  }
}

@media only screen and (min-width: 1280px) {
  .wrap {
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
  }
}
